<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubScription</title>
</head>
<body><br><br><br><br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}<br>
    <div>
        <center>
            <h1>Purchase Domain in just Rs.999.00/Month</h1><br>
            <a href="{% url 'purchase' %}"><button style=" background-color: #3f51b5;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;">Purchase</button></a>
        </center>
    </div>
</body>
</html>